<launch>

<!-- Load map saved before-->
<node name="map_server" pkg="map_server" type="map_server" output ="screen"
          args="/home/tran/github/bag_file/map.yaml my_map_resolution">
</node>
<node name ="amcl" pkg="amcl" type="amcl">
                <remap from="scan" to="scan"/>

</node>
<node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
          <remap from="voxel_grid" to="costmap/voxel_grid"/>
</node>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_robot)/src/config/cost_map_common.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find my_robot)/src/config/cost_map_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/src/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find my_robot)/src/config/global_costmap.yaml" command="load" /> 
    <rosparam file="$(find my_robot)/src/config/base_local_planner.yaml" command="load" />
 </node>

 <!--node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find my_robot)/src/config/cost_map.yaml" command="load" /> 
</node-->
</launch>