<launch>

<!--node name ="control" pkg="my_robot" type="control.py" output = "screen"/-->


<!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_robot)/src/config/cost_map_common.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find my_robot)/src/config/cost_map_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/src/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find my_robot)/src/config/global_costmap.yaml" command="load" /> 
    <rosparam file="$(find my_robot)/src/config/base_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
 </node-->


 <!--node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find my_robot)/src/config/cost_map.yaml" command="load" /> 
</node-->



<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
    <param name="scan" value="scan" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link"/>
  </node>
<include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>
<node name ="control_manual" pkg="my_robot" type="manual_control.py" output = "screen"/>

</launch>